.accueil {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    background: url("../img/bg-accueil.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

}

/*Formulaire de connexion*/
#container {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}


form {
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    padding-bottom: 15%;
    width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    line-height: 50px;
}

#container h1 {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}


input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
}

/*bouton login*/
input[type=submit] {
    background-color: rgb(43, 115, 248);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: white;
    color: rgb(43, 115, 248);
    border: 1px solid rgb(43, 115, 248);
}

/*bouton google*/
#bouton {
    bottom: 20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}