.acceuil{
    content: "";
    position: relative;
    height: 100%; width: 100%;
    background: url("../img/bg-accueil.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;   
    /*-webkit-filter: blur(3px);
    filter: blur(3px);*/
}

#bouton{
    position: absolute;
    width: 20%;
    top: 80%; left: 50%;
    transform: translate(-50%, -50%);
}
    


h1{
    text-align: center;
}